.jumbotron{
  width: 100%;
  height:150px;
  background-color:#f2f2f2;
  margin-bottom: 0.5rem;
  /* top: 15px; */
}

.jumbotron-wrapper{
  /* background-color:red; */
  display: flex;
}
.jumbotron-content{
  position:relative;
  margin: 0 auto;
}

.jumbotron-img{
  position: relative;
  height:300px;
  /* width: 100%; */
  top:-70px;
  left:0;
  display:block;
}

@media only screen and (min-width: 961px) {
  .jumbotron {
    display:none;
  }
}

@media only screen and (max-width: 400px) {
  .jumbotron-img {
    width: 100%;
  }
}